@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap");
:root {
  --bg-color: #0a192f;
  --green-color: #64ffda;
  --light_slate: #ccd6f6;
  --about-fz-size: 18px;
  --lightest-slate: #ccd6f6;
  --slate: #8892b0;
}

.about-container {
  height: 80vh !important;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.about-container article section:first-child {
  color: var(--green-color);
  font-size: var(--about-fz-size);
}
.about-container article section:nth-child(2) {
  color: var(--lightest-slate);
  font-weight: 800;
  font-size: clamp(33px, 8vw, 70px);
}
.about-container article section:nth-child(3) {
  color: var(--slate);
  font-size: clamp(20px, 8vw, 80px);
  font-family: sans-serif !important;
  margin-top: -1vw;
}
.about-container article section:nth-child(4) {
  color: var(--slate);
  font-size: var(--about-fz-size);
  max-width: 600px;
  font-size: clamp(8px, 4vw, 15px);
  word-spacing: -4px;
}
.about-container article section:nth-child(5) button {
  border: 1px solid var(--green-color);
  color: var(--green-color);
  font-weight: 500;
  padding: 17px 30px;
  font-size: 13px !important;
}
.about-container article section:nth-child(5) button:hover {
  color: var(--light_slate);
}


@media (max-width: 767px) {
  .about-container article section:nth-child(3) {
    line-height: 1;
  }
  .about-container article section:first-child {
    margin-bottom: 1vh;
  }
  .about-container article section:nth-child(2) {
    margin-bottom: 1vh;
  }
  .about-container article section:nth-child(3) {
    margin-bottom: 4vh;
  }
  .about-container article section:nth-child(4) {
    margin-bottom: 4vh;
  }
}

@media (min-width: 767px) and (max-width: 1199px) {
  .about-container article section:nth-child(3) {
    line-height: 1;
  }
  .about-container article section:first-child {
    margin-bottom: -1vh;
  }
  .about-container article section:nth-child(2) {
    margin-bottom: -1vh;
  }
  .about-container article section:nth-child(3) {
    margin-bottom: 4vh;
  }
  .about-container article section:nth-child(4) {
    margin-bottom: 4vh;
  }
}
